.container{
  
}

.btn {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); 
  border: none; 
  padding: 10px 20px;
  color: white;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  margin: 4px auto;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 150px;
  font-size: 16px;
}

.btn:hover {
  background-image: linear-gradient(300deg, #89f7fe 0%, #66a6ff 100%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.paragraphContainer{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.topContainer{
  display: flex;
  gap: 10px;
}

.historySelection{
  flex: 1;
  padding: 10px;
  font-size: 20px;
  width: 30%;
}

.historyContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.recommendContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.titleH3{
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #eee;
}

.titleH4{
  padding: 5px 0px;
}

.historyList{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  list-style-type: none;
}

.history{
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.recommendList{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  list-style-type: none;
}

.recommend{
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.ytinput{
  height: 30px;
  padding: 5px;
}

.ytinput::placeholder{
  font-size: 14px;
}

.ytContainer{
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  height: 500px;
  gap: 10px;
}

.ytFrame{
  display: block;
  position: relative;
  flex: 2;
  width: 100%;
}

.ytFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.recommendContainer{
  display: flex;
  flex: 1;
  border: 1px solid #333;
}

.textArea{
  max-width: 100%;
  font-size: 14px;
  padding: 5px 5px;
}

.textArea::placeholder{
  font-size: 14px;
}


@media screen and (max-width: 1280px) {
  .ytFrame iframe{
    height: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .ytFrame iframe{
    height: 40%;
  }
}